/node_modules
/node_modules/*
session.json
chats/*
!chats/.gitkeep
media/*
!media/.gitkeep
mediaSend/*
!mediaSend/.gitkeep
!mediaSend/Flyer.jpeg
!mediaSend/catalogo.pdf
!mediaSend/Evento2.png
.env
.wwebjs_auth